mixin footer
	footer.footer
		.footer__row
			ul.footer__list
				li.footer__item
					.footer_logo
						a.logo__link(href="#")
							img.logo__img(src=`${assetsImage}/logo_white.svg`, alt="")
					.footer_title
						a.footer_title__link(href="#")  Платформа AI
					.footer_social
						+social({
							items: [
								{
									name_icon: 'facebook',
									mod_icon: 'icon--size_mod',
									mod_link: 'social__link--white'
								},
								{
									name_icon: 'twitter',
									mod_icon: 'icon--size_mod',
									mod_link: 'social__link--white'
								},
								{
									name_icon: 'rss',
									mod_icon: 'icon--size_mod',
									mod_link: 'social__link--white'
								},
								{
									name_icon: 'youtube',
									mod_icon: 'icon--size_mod',
									mod_link: 'social__link--white'
								}
							]
						})
					.footer_copyright
						.copyright__icon
							+icon('copy', 'icon--size_mod')
						span.copyright__text 2020 Everest.
							span ALL RIGHTS RESERVED
				li.footer__item
					+menu({
						gl_class: 'footer_menu',
						items: [
							{title: 'Кто мы'},
							{title: 'Что мы делаем'},
							{title: 'Направления работы'},
							{title: 'Компетенции'},
							{title: 'Команда'},
							{title: 'Новости'},
							{title: 'Партнеры'},
							{title: 'Контакты '}
						]
					})

				li.footer__item
					a.footer_title__link(href="#")  Платформа AI
					.footer_submenu
						span.submenu__title Решения:
						+menu({
							gl_class: 'footer_submenu',
							items: [
								{title: 'Банки'},
								{title: 'Страхование'},
								{title: 'Здравоохранение'},
								{title: 'Транспорт и логистика'},
								{title: 'Государственный сектор'},
								{title: 'Ритейл и eCommerce'},
								{title: 'Телекомуникации'}
							]
						})
				li.footer__item
					span.footer_title__text О нас
					p.footer__text EVEREST - опытный интегратор digital-технологий, продуктов и сервисов для цифровой трансформации бизнеса, корпоративного и государственного секторов.
					p.footer__text Разрабатывает и внедряет решения на базе AI, используя методы Data Data и ML для совершенствования и автоматизации бизнес-процессов клиентов.
					p.footer__text Всегда оперирует тенденциями цифрового мира и концентрирует свои усилия на уникальности и инновационности методов в работе с каждым клиентом над созданием и адаптацией digital-идей и концепций.
					.feedback
						h4.feedback__title Будьте в курсе лучших digital-решений для вашего бизнеса
						form.feedback__form(action="" metod="")
							+form_input({
								class: 'feedback_email__input',
								block_class: 'feedback__email',
								field_class: '',
								type: 'email',
								placeholder: 'Email',
								value: ''
							})
							+form_input({
								class: 'feedback_btn__input',
								block_class: 'feedback__btn',
								field_class: '',
								type: 'submit',
								value: 'Подписаться'
							})
