mixin header
	header.header
		.header__row
			.header_logo
				a.logo__link(href="#")
					img.logo__img(src=`${assetsImage}/logo.svg`, alt="")
			.menu_trigger.menuTrigger
				span.menu_trigger_decor
			nav.header__nav
				.header_menu
					+menu({
						gl_class: 'header_menu',
						items: [
							{title: 'О нас'},
							{title: 'Решения'},
							{title: 'Аналитика'},
							{title: 'Партнеры'},
							{title: 'Контакты'},
							{title: 'Подписка'}
						]
					})
				.header_social
					+social({
						items: [
							{
								name_icon: 'facebook',
								mod_icon: 'icon--size_mod'
							},
							{
								name_icon: 'twitter',
								mod_icon: 'icon--size_mod'
							},
							{
								name_icon: 'rss',
								mod_icon: 'icon--size_mod'
							},
							{
								name_icon: 'youtube',
								mod_icon: 'icon--size_mod'
							}
						]
					})
				.header_search
					a.header_search__link(href="#")
						+icon('shape', 'icon--size_mod')
				.header_lengv_menu
					+menu({
						gl_class: 'header_lengv_menu',
						items: [
							{title: 'UA'},
							{title: 'RU'}
						]
					})
