block project_vars

-
  postArray = {
    items: [
      {
        col: 3,
        row: 2,
        img: 'medecine',
        category: 'Здравоохранение',
        category_mod: 'blue',
        autor: 'Автор: Владимир Мищенко',
        title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении',
        date: '00 окт 2020',
        time: '~ 6 мин'
      },
      {
        category: 'Государственный сектор',
        category_mod: 'dark_blue',
        icon: 'digest',
        title: 'Правительство Великобритании инвестировало 40 млн. фунтов стерлингов в цифровые сервисы в целях улучшения кибербезопасности',
        date: '00 окт 2020',
        time: '~ 1 мин'
      },
      {
        category: 'Страхование',
        category_mod: 'violete',
        icon: 'digest',
        title: 'Страховая компания Berkshire Hathaway (BHHC) использует аналитическое решение CLARA для выплат компенсаций',
        date: '00 окт 2020',
        time: '~ 1 мин'
      },
      {
        category: 'Здравоохранение',
        category_mod: 'blue',
        icon: 'digest',
        title: 'Страховая компания Berkshire Hathaway (BHHC) использует аналитическое решение CLARA для выплат компенсаций',
        date: '00 окт 2020',
        time: '~ 1 мин'
      },
      {
        category: 'Телекоммуникации',
        category_mod: 'red',
        icon: 'digest',
        title: 'BearingPoint продлила соглашение с инкубатором телекоммуникационной группы Telefonica, компанией Wayra',
        date: '00 окт 2020',
        time: '~ 1 мин'
      },
      {
        col: 2,
        row: 1,
        baner: {
          acent: 'New!',
          title: '<strong>Digital transformation</strong> по-украински',
          autor: 'Юрий Чубатюк',
          icon: 'play',
          link: 'Смотреть',
          img: 'new'
        }
      },
      {
        col: 1,
        row: 2,
        category: 'Здравоохранение',
        category_mod: 'blue',
        autor: 'Автор: Петр Ванькин',
        title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении',
        text: 'Решение дает возможность обеспечить комплексную, надежную защиту ИТ-инфраструктуры и регулирует уровень технических нагрузок с полным охватом разных цифровых систем',
        date: '00 окт 2020',
        time: '~ 1 мин'
      },
      {
        category: 'Транспорт и логистика',
        category_mod: 'orange',
        icon: 'digest',
        title: 'Служба доставки еды Foodora Canada заключила партнерские отношения с производителем роботов-курьеров Tiny Mile ',
        date: '00 окт 2020',
        time: '~ 1 мин'
      },
      {
        category: 'Банки',
        category_mod: 'green',
        icon: 'digest',
        title: 'BL Bank использует технологии для создания новых источников дохода',
        date: '00 окт 2020',
        time: '~ 1 мин'
      },
      {
        col: 2,
        row: 1,
        img: 'coca',
        category: 'Ритейл и eCommerce',
        category_mod: 'purpure',
        autor: 'Автор: Пётр Ванькин',
        title: 'Используя Alteryx, компания Coca-Cola снизила расходы на 60%',
        date: '00 окт 2020',
        time: '~ 6 мин'
      },
      {
        category: 'Ритейл и eCommerce',
        category_mod: 'purpure',
        icon: 'digest',
        title: 'MakeMyTrip использует цифровые платформы, способствующие более широкому распространению электронной коммерции',
        date: '00 окт 2020',
        time: '~ 1 мин'
      },
      {
        category: 'Страхование',
        category_mod: 'violete',
        icon: 'digest',
        title: 'Страховая компания Kotak Life Insurance использует интеллектуальные алгоритмы для проверки статуса клиента',
        date: '00 окт 2020',
        time: '~ 1 мин'
      },
      {
        col: 2,
        row: 1,
        img: 'it',
        category: 'Государственный сектор',
        category_mod: 'dark_blue',
        autor: 'Автор: Владимир Мищенко',
        title: 'Кибербезопасность и стабильность сети от WatchGuard для защиты данных и оптимизации бизнес-процессов',
        date: '00 окт 2020',
        time: '~ 1 мин'
      },
      {
        col: 1,
        row: 2,
        category: 'Ритейл/еCommerce',
        category_mod: 'purpure',
        autor: 'Автор: Аполлинарий Космодемьянский',
        title: 'Citi ежегодно тратит на технологии более 8 млрд. дол., являясь лидером в области цифровых решений в сфере банкинга ',
        title_mod: 'font_l',
        date: '00 окт 2020',
        time: '~ 1 мин'
      },
      {
        col: 2,
        row: 2,
        category: 'Транспорт и логистика',
        category_mod: 'orange',
        autor: 'Автор: Артём Голоскевич',
        title: 'Логистическая компания Yusen Logistics применяет Alteryx для составления аналитических отчётов',
        title_mod: 'font_xl',
        text: 'Платформа стала профессиональным инструментом для процесса ETL. На основании полученных данных бизнес-аналитики компании смогли извлекать требуемую информацию, проводить бизнес-ориентированный анализ и формировать отчёты для финансового отдела',
        text_mod: 'font_l',
        date: '00 окт 2020',
        time: '~ 1 мин'
      },
      {
        col: 2,
        row: 1,
        img: 'bank',
        category: 'Банки',
        category_mod: 'green',
        autor: 'Автор: Денис Полищук',
        title: 'AI и ML от Dataiku в банковском деле для безопасности и эффективного управления данными',
        date: '00 окт 2020',
        time: '~ 1 мин'
      },
      {
        col: 2,
        row: 1,
        category: 'Телекоммуникации',
        category_mod: 'red',
        icon: 'digest',
        title: 'Логистическая компания Yusen Logistics применяет Alteryx для составления аналитических отчётов',
        title_mod: 'font_l',
        date: '00 окт 2020',
        time: '~ 1 мин'
      },
      {
        col: 1,
        row: 2,
        img: 'it',
        category: 'Государственный сектор',
        category_mod: 'dark_blue',
        autor: 'Автор: Артём Голоскевич',
        title: 'Smart Farming от Alteryx для цифрового преобразования и развития сельского хозяйства',
        date: '00 окт 2020',
        time: '~ 1 мин'
      },
      {
        col: 1,
        row: 2,
        img: 'bank',
        category: 'Банки',
        category_mod: 'green',
        autor: 'Автор: Пётр Ванькин',
        title: 'Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point',
        date: '00 окт 2020',
        time: '~ 1 мин'
      },
      {
        col: 1,
        row: 2,
        img: 'logist',
        category: 'Транспорт и логистика',
        category_mod: 'green',
        autor: 'Автор: Владимир Мищенко',
        title: 'Поставщик технологических логистических решений Aramex применяет MobiControl для контроля активов',
        date: '00 окт 2020',
        time: '~ 1 мин'
      },
      {
        col: 2,
        row: 1,
        category: 'Банки',
        category_mod: 'green',
        autor: 'Автор: Владимир Мищенко',
        title: 'Новейшая интеллектуальная защита корпоративных данных от Bitdefender для Patria Bank',
        text: 'Решение является одним из лучших на рынке для обеспечения ИТ-безопасности и эффективной борьбы с киберпреступностью',
        date: '00 окт 2020',
        time: '~ 1 мин'
      },
      {
        col: 2,
        row: 1,
        category: 'Транспорт и логистика ',
        category_mod: 'orange',
        icon: 'digest',
        title: 'Метрополитен Лос-Анджелеса использует TAP-браслеты для валидации пассажиров',
        title_mod: 'font_l',
        date: '00 окт 2020',
        time: '~ 1 мин'
      },
      {
        col: 2,
        row: 2,
        img: 'gov',
        category: 'Государственный сектор',
        category_mod: 'dark_blue',
        autor: 'Автор: Артём Голоскевич',
        title: 'Логистическая компания Yusen Logistics применяет Alteryx для составления аналитических отчётов',
        text: 'Платформа стала профессиональным инструментом для процесса ETL. На основании полученных данных бизнес-аналитики компании смогли извлекать требуемую информацию, проводить бизнес-ориентированный анализ и формировать отчёты для финансового отдела',
        date: '00 окт 2020',
        time: '~ 6 мин'
      },
      {
        category: 'Государственный сектор',
        category_mod: 'dark_blue',
        title: 'PPG Industries использует прогнозную аналитику для поддержания промышленных активов в функциональном состоянии',
        date: '00 окт 2020',
        time: '~ 1 мин'
      },
      {
        col: 2,
        row: 1,
        category: 'Банки ',
        category_mod: 'green',
        icon: 'digest',
        title: 'Инвестиционная компания Franklin Templeton Investments применяет решение о данных от Fractal',
        title_mod: 'font_l',
        date: '00 окт 2020',
        time: '~ 1 мин'
      },
      {
        category: 'Здравоохранение',
        category_mod: 'blue',
        title: 'Gali Health представила персонального помощника по здоровью – Gali AI',
        date: '00 окт 2020',
        time: '~ 1 мин'
      },
      {
        col: 2,
        row: 1,
        category: 'Ритейл и eCommerce ',
        category_mod: 'violete',
        autor: 'Автор: Денис Полищук',
        title: 'PepsiCo повысила скорость составления отчётов о продажах на 90%',
        text: 'ПО сочетает обработку естественного языка, методологию синтаксического анализа неструктурированного текста и специальное ПО под базы данных для определения атрибутов платежа. Решение приводит к прогнозируемой ежегодной экономии в размере 6 млн. долл. в виде затрат на обработку и доработку вручную',
        date: '00 окт 2020',
        time: '~ 1 мин'
      },
      {
        col: 1,
        row: 2,
        category: 'Телекоммуникации',
        category_mod: 'dark_green',
        autor: 'Автор: Пётр Ванькин',
        title: 'Обеспечение максимальной защиты данных от Forcepoint для безопасности работы всего предприятия',
        text: 'Решение помогает избежать угроз нарушения сохранности конфиденциальной информации и управлять данными в режиме реального времени',
        date: '00 окт 2020',
        time: '~ 1 мин'
      },
      {
        col: 1,
        row: 2,
        category: 'Банки',
        category_mod: 'dark__green',
        autor: 'Автор: Аполлинарий Космодемьянский',
        title: 'Служба внутренних доходов США применяет аналитику данных для борьбы с мошенничеством',
        title_mod: 'font_l',
        date: '00 окт 2020',
        time: '~ 1 мин'
      },
      {
        col: 1,
        row: 2,
        category: 'Ритейл/еCommerce',
        category_mod: 'purpure',
        autor: 'Автор: Аполлинарий Космодемьянский',
        title: 'Citi ежегодно тратит на технологии более 8 млрд. дол., являясь лидером в области цифровых решений в сфере банкинга ',
        title_mod: 'font_l',
        date: '00 окт 2020',
        time: '~ 1 мин'
      },
      {
        col: 2,
        row: 1,
        category: 'Государственный сектор  ',
        category_mod: 'dark_blue',
        autor: 'Автор: Владимир Мищенко',
        title: 'Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point',
        text: 'Dome9 – это комплексная программная платформа для обеспечения безопасности и согласования общедоступных облаков. Используя Dome9, компания оценивает свой уровень безопасности, защищает пользователей от кражи личной информации и потери данных в облаке',
        date: '00 окт 2020',
        time: '~ 1 мин'
      }
    ]
  }
