.feedback {
  padding-top: 1rem;
}

.feedback__title {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.feedback__form {
  @extend %global_flex_block_row_wrap_space_between_center;
  width: 100%;

  @include bp($point_6) {
    flex-direction: column;
  }
}

.feedback__email {
  width: 52%;
  min-width: 20rem;

  @include bp($point_6) {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.feedback_email__input {
  @extend %form_el_default;

  height: 3.8rem;

  color: $white;

  background-color: rgba($white, .34);
  box-shadow: none;

  &::-webkit-input-placeholder {
		color: $white;
	}

	&::-moz-placeholder {
		color: $white;
	}

	&:-ms-input-placeholder {
		color: $white;
	}

}

.feedback__btn {
 width: 38%;
 min-width: 16rem;

  @include bp($point_6) {
    align-self: center;
  }
}

.feedback_btn__input {
  @extend %form_el_default;
  @extend %transition_all;

  height: 3.8rem;

  font-size: 1.4rem;
  color: $white;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid $white;
  border-radius: unset;
  box-shadow: none;

  cursor: pointer;

  &:hover,
  &:focus {
    color: $red;
    background-color: $white;

    box-shadow: none;
  }

}
