.header_lengv_menu {
  @extend .header_nav__item;

}

.header_lengv_menu__list {
  @extend %global_flex_block_row_nowrap_flex-end_center;
}

.header_lengv_menu__item  {
  &:not(:last-child) {
    padding-right: .5em;

    border-right: 1px solid $color_second;
  }

  &:last-child {
    padding-left: .5em;
  }
}

.header_lengv_menu__link {
  display: block;

  font-family: $font_2;
  font-size: 1.6rem;
  color: $color_second;

  text-transform: uppercase;

  @include bp($point_3) {
    font-size: 1.8rem;
  }
}
