.header_search {
  @extend .header_nav__item;
}

.header_search__link {
  display: block;
  width: 2rem;
  height: 1.4rem;

  color: $color_icon;

  @include bp($point_3) {
    width: 3rem;
    height: 2rem;
  }
}
