//---------------------------------------------sections
.section {
	position: relative;

	width: 100%;

	padding: 0 $padding_section_horizontal 6.8rem $padding_section_horizontal;

	font-size: 1rem;


}

.section_in {
	max-width: $page_width;
	width: 100%;
	margin: 0 auto;
}
