.header_social {
  @extend .header_nav__item;
}

.social__list {
  @extend %global_flex_block_row_wrap_flex-start_center;
  margin: 0 -2.8rem -1rem 0;
}

.social__item {
  padding: 0 2.8rem 1rem 0;
}

.social__link {
  display: block;
  width: 2rem;
  height: 1.4rem;

  color: $color_icon;
}

.social__link--white {
  color: $color_text_footer;

  &:hover,
  &:focus {
    color: $color_icon;
  }
}
