.footer {
	// width: 100%;
	// min-height: var(--height-footer);
	flex: 0 0 auto;

	padding: 2.6rem $padding_section_horizontal 8rem $padding_section_horizontal;

	color: $color_text_footer;

	background-color: $color_bg_footer;

	will-change: transform;
}

.footer__row {
	@extend .section_in;
}

.footer__list {
	@extend %global_flex_block_row_nowrap_flex-start_stretch;

	margin: 0 -5.6rem -2rem 0;

	@include bp($point_1) {
		flex-wrap: wrap;
	}

	@include bp($point_4) {

	}
}

.footer__item {
	@extend %global_flex_block_column_wrap_flex-start;

	flex: 1 1 auto;
	padding: 0 5.6rem 2rem 0;

	@include bp($point_1) {
		&:last-child {
			grid-column: span 3;
		}
	}

	@include bp($point_4) {
		&:last-child {
			grid-column: span 1;
		}
	}

}

.footer_logo {
	margin-bottom: auto;
}

.footer_title {
	width: 100%;
	min-width: 18rem;

	margin-bottom: 2.6rem;
}

.footer_title--margin_off {
	margin-bottom: 0;
}


.footer_title__link {
	@extend %title_footer;
}

.footer_social {
	margin-bottom: 2rem;

	overflow: hidden;
}

.footer_title__text {
	@extend %title_footer;
}

.footer__text {
	font-size: 1.2rem;
	padding-top: 2rem;
}

%title_footer {
	display: block;
	width: 100%;

	font-size: 1.4rem;
	line-height: 2.6;
	color: $color_text_footer;

	text-transform: uppercase;

	border-bottom: 1px solid rgba($color_br_footer, .5);
}
//-------------------footer menu
.footer_menu__list {
  @extend %global_flex_block_column_wrap_flex-start;
  width: 100%;
}

.footer_menu__item  {
  width: 100%;
  min-width: 18rem;
}

.footer_menu__link {
	@extend %title_footer;
}

//---------------------footer submenu

.footer_submenu__list {
  @extend %global_flex_block_column_wrap_flex-start;
  width: 100%;
}

.footer_submenu__item  {
  width: 100%;
}

.footer_submenu__link {
  display: block;

	font-size: 1.4rem;
	line-height: 2.3;
	color: $color_text_footer;
}

.submenu__title {
  display: block;

	font-size: 1.4rem;
	line-height: 2.6;
  text-transform: uppercase;
}
 //--------------------------copyright


 .footer_copyright {
  @extend %global_flex_block_row_nowrap_flex-start_center;
}

.copyright__icon {
  display: block;
  width: 3rem;
  height: 3rem;
}

.copyright__text {

}

.copyright__text span{
  display: block;
}
