//------------------------------------------------------------layout
.header {
	// position: fixed;
	// top: 0;
	// left: 0;

	// height: var(--height-header);
	// width: 100%;

	flex: 0 0 auto;

	padding: 4rem $padding_section_horizontal;

	will-change: transform;

	@include z-index(header);
}

//------------------------------------------------------------layout###

.header__row {
	@extend .section_in;
	@extend %global_flex_block_row_wrap_space_between_center;
}

.header__nav {
	@extend %global_flex_block_row_wrap_flex-start_center;

	margin: 0 -3rem -1rem 0;
}

.header_nav__item {
	padding: 0 3rem 1rem 0;
}
